# Configuración de la base de datos
DATABASE_URL="mysql://root:password@localhost:3306/navi"

# Configuración JWT
JWT_SECRET="tu_jwt_secret_muy_seguro_aqui"

# Puerto del servidor
PORT=3000

DATABASE_URL="mysql://root:@localhost:3306/savi"
DATABASE_URL="mysql://luciaf:lucia123@127.0.0.1:3306/basededatos1"
DATABASE_URL_SECOND="mysql://noahf:noahf123@127.0.0.1:3306/basededatos1"
